@use "./reset";
@use "./font";
@use "./root";

/*---------------------
    LAYOUT
-----------------------*/

body {
  background-color: var(--clr-violet);
  background-image: url("../images/bg-mobile.svg");
  background-size: 100%;
  background-repeat: no-repeat;

  font-size: 1rem;
  font-family: var(--ff-heading);
  text-align: center;
  color: #ffffff;

  display: flex;
}

.container {
  padding: var(--space-lg) var(--space-md);
  max-width: calc(var(--container-max-width) + var(--space-lg) * 2);
  margin: auto;
}

/*---------------------
    COMPONENTS
-----------------------*/

.main {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.header {
  margin-bottom: var(--space-sl);
}

.logo {
  width: var(--logo-width);
  height: var(--logo-height);
}

.illustration {
  width: var(--image-width);
  height: var(--image-height);
}

.title {
  font-size: var(--fs-heading);
  font-weight: var(--fw-600);
  line-height: var(--lh-heading);
}

.subtitle {
  font-family: var(--ff-text);
  font-size: var(--fs-text);
  line-height: var(--lh-text);

  margin: var(--space-xs) 0;
}

.register {
  text-decoration: none;
  display: inline-block;

  font-size: var(--fs-button);
  line-height: var(--lh-button);
  color: var(--clr-violet);

  padding: var(--space-xxs) var(--space-xl);
  background-color: #ffffff;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
  border-radius: 1.25rem;

  &:hover {
    background-color: var(--clr-magenta);
    color: #ffffff;
  }
}

.footer {
  margin-top: var(--space-xl);
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-xxs);

  img {
    width: var(--icon-width);
  }
}

.social-link:hover {
  img {
    filter: invert(46%) sepia(96%) saturate(1864%) hue-rotate(295deg)
      brightness(103%) contrast(102%);
  }
}

@media (min-width: 90em) {
  body {
    text-align: left;
    background-image: url("../images/bg-desktop.svg");
    background-size: cover;
  }
  .container {
    max-width: 90rem;
  }
  .main {
    flex-direction: row;
  }

  .social-links {
    justify-content: flex-end;
  }
}
